.about__header {
  margin-bottom: 30px;
}

.about__inner {
  padding: 27px 30px 20px 30px;

  @include inner();

  @media (min-width: $desktop_width) {
    padding-left: 221px;
    padding-right: 221px;
  }
}

.about__benefits {
  @include list_reset();
}

.about__benefit {
  line-height: 20px;
  margin-bottom: 33px;

  svg {
    fill: #63d1bb;
  }
}

@media (min-width: $tablet_width) {
  .about__inner {
    padding: 76px 60px 24px 44px;
  }

  .about__header {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 50px;
  }

  .about__benefits {
    columns: 2;
    padding: 0 0 0 6px;
  }

  .about__benefit {
    line-height: 22px;
    font-size: 20px;
    margin-bottom: 62px;
  }

  .about__benefit p {
    margin-top: 15px;
  }
}

@media (min-width: $desktop_width) {
  .about__inner {
    padding: 114px 240px 30px 220px;
  }

  .about__header {
    font-size: 53px;
    font-weight: 700;
    line-height: 57px;
  }
}
