.contacts__inner {
  @include inner();
  padding: 35px 30px 39px 30px;
}

.contacts__header {
  margin-bottom: 24px;
}

.contacts__header .block-title {
  font-size: 18px;
}

.contacts__table {
  width: 100%;
  margin-bottom: 7px;
}

.contacts__map {
  position: relative;
  margin-bottom: 91px;
  margin-left: -30px;
  width: 322px;
  height: 457px;

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.contacts__table tr {
  display: flex;
  margin-bottom: 27px;
}

.contacts__table td {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
}

.contacts__table td:first-child {
  flex-grow: 1;
}

.contacts__data {
  max-width: 181px;
  margin: 0;
}

.contacts__data--email {
  border-bottom: 1px solid #62d1ba;
  color: #444444;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    opacity: 0.3;
  }
}

.contacts__request-link {
  position: absolute;
  width: 260px;
  bottom: 39px;
}

@media (min-width: $tablet_width) {
  .contacts__inner {
    width: $tablet_width;
    padding: 77px 0 56px 50px;

    &::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 82px;
      top: 62px;
      right: 53px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__header {
    margin-bottom: 46px;
  }

  .contacts__header .block-title {
    font-size: 43px;
  }

  .contacts__map {
    position: relative;
    width: 768px;
    height: 457px;
    margin-left: -50px;

    img {
      width: 768px;
      height: 457px;
    }
  }

  .contacts__table {
    margin-bottom: 26px;
  }

  .contacts__table tbody {
    display: flex;
  }

  .contacts__table {
    tr:first-child {
      margin-right: 49px;
    }

    td {
      flex-grow: 0;
      font-size: 17px;
      line-height: 30px;
    }

    td:first-child {
      margin-right: 20px;
    }
  }

  .contacts__data {
    width: 221px;
    max-width: 221px;
  }

  .contacts__request-link {
    width: 230px;
    left: 50%;
    bottom: 56px;
    transform: translateX(-50%);
    margin: 0 auto;
  }

  .contacts__map {
    margin-bottom: 107px;
  }
}

@media (min-width: $desktop_width) {
  .contacts__inner {
    width: $desktop_width;
    padding: 89px 50px 0 224px;
    display: flex;

    &::before {
      top: 151px;
      left: 113px;
    }
  }

  .contacts__info {
    display: flex;
    flex-direction: column;
    padding: 70px 15px 0 0;
  }

  .contacts__header .block-title {
    font-size: 53px;
  }

  .contacts__map {
    width: 525px;
    height: 457px;
    margin-left: 0;

    img {
      width: 525px;
      height: 457px;
    }
  }

  .contacts__table {
    margin-bottom: 50px;
  }

  .contacts__table tbody {
    flex-direction: column;
  }

  .contacts__table tr {
    flex-grow: 1;
    padding-right: 0;
  }

  .contacts__table td:first-child {
    flex-grow: 0;
  }

  .contacts__request-link {
    position: inherit;
    transform: none;
    width: 230px;
    margin: 0 auto 0 0;
    bottom: 39px;
  }
}
