.fieldset {
  padding: 15px 30px;
  margin: 0 auto;
  width: 320px;
}

.fieldset__legend {
  margin-bottom: 24px;
}

.fieldset--names .fieldset__legend {
  margin-bottom: 31px;
}

.fieldset__icon {
  color: rgba(0, 0, 0, 0.2);
}

@media (min-width: $tablet_width) {
  .fieldset,
  .fieldset__inner {
    display: flex;
    align-items: flex-start;
    width: $tablet_width;
    padding: 47px 50px 51px;
  }

  .fieldset__inner {
    margin: 0 auto;
  }

  .fieldset__inner--checkboxes {
    padding: 49px 50px 50px;
  }

  .fieldset__inner--contact {
    padding: 43px 50px 50px;
  }

  .fieldset__inner--contact .input--contact {
    margin-bottom: 19px;
  }

  .fieldset.fieldset--wrapper {
    width: 100%;
    padding: 0;
    background-color: #f1f1f1;
  }

  .fieldset__controls--flex {
    display: flex;
    flex-wrap: wrap;
  }

  .fieldset__controls.fieldset__controls--fullwidth {
    width: 815px;

    input {
      width: 501px;
    }
  }

  .fieldset__controls {
    width: 518px;
  }
}

@media (min-width: $desktop_width) {
  .fieldset,
  .fieldset__inner {
    width: $desktop_width;
    padding-left: 110px;
  }

  .fieldset__inner--contact {
    padding: 46px 50px 50px 110px;
  }

  .fieldset__controls {
    width: 700px;
  }

  .fieldset__inner--checkboxes {
    padding-bottom: 27px;
  }

  .fieldset__inner--checkboxes .fieldset__controls {
    width: 790px;
  }

  .fieldset__controls.fieldset__controls--fullwidth {
    width: 815px;

    input {
      width: 700px;
    }
  }
}
