.footer {
  background-color: #f1f1f1;
}

.footer__logo {
  display: none;
  color: #000000;
}

.footer__logo:hover,
.footer__logo:focus {
  color: #46c1ae;
}

.footer__logo:active {
  opacity: 0.3;
}

.footer__inner {
  padding: 30px 30px 25px 30px;

  @include inner();

  @media (min-width: $tablet_width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $tablet_width) {
  .footer__inner {
    padding: 28px 50px 54px 50px;
    justify-content: space-between;
  }

  .footer__logo {
    display: block;
    padding-left: 0;
  }
}

@media (min-width: $desktop_width) {
  .footer__inner {
    padding: 43px 50px 47px 51px;
  }
}
