.form__inner {
  position: relative;

  @include inner();
}

.form__text {
  color: $grey;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding: 23px 30px 10px 30px;
  width: 320px;
  margin: 0 auto;
}

.form__label {
  display: flex;
  align-items: center;
  color: #000000;
  line-height: 18px;
}

.form__label--accessories {
  padding-top: 13px;
}

.form__label.form__label--green {
  display: flex;
  align-items: center;
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  width: 100%;

  &::after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 100%;
    height: 1px;
    margin-left: 22px;
    background-color: #62d1ba;
  }
}

.form__radio,
.form__checkbox {
  margin-bottom: 21px;

  input:focus + label::before {
    border: 2px solid #62d1ba;
  }

  input:disabled + label::before {
    opacity: 0.3;
  }

  .form__label:hover::before {
    border: 2px solid #62d1ba;
  }
}

.form__checkbox:last-child {
  margin-bottom: 0;
}

.form__radio:last-child {
  margin-bottom: 0;
}

.form__radio .form__label {
  position: relative;
  padding-left: 62px;
  height: 40px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    border: 2px solid $grey;
    background-color: #ffffff;
  }
}

.form__radio input:checked + .form__label::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.form__checkbox .form__label {
  position: relative;
  padding-left: 62px;
  height: 40px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    border: 2px solid $grey;
  }
}

.form__checkbox input:checked + .form__label::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/icons/icon-tick.svg");
}

.form__input {
  margin-bottom: 22px;
}

.form__input:last-child {
  margin-bottom: 0;
}

.form__input input {
  border: none;
  width: 100%;
  height: 52px;
  box-shadow: inset 0 -2px 0 #000000;
  color: $grey;
  font-size: 19px;
  line-height: 18px;
  outline: none;
  font-family: inherit;

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }

  &::placeholder {
    opacity: 0.3;
    color: $grey;
    font-size: 17px;
    line-height: 18px;
  }
}

.form__input--contact {
  margin-bottom: 33px;
}

.form__input--contact input {
  background-color: transparent;
}

.form__input--contact .form__label--green {
  margin-bottom: 8px;
}

.form__input.input--contact {
  margin-bottom: 32px;
}

.form__input.input--contact:last-child {
  margin-bottom: 0;
}

.form__textarea textarea {
  width: 260px;
  height: 142px;
  border: 2px solid $grey;
  background-color: #ffffff;
  padding: 15px;
  color: $grey;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  outline: none;
  font-family: inherit;

  &:hover,
  &:focus,
  &:active {
    border: 2px solid #62d1ba;
  }

  &::placeholder {
    opacity: 0.3;
  }
}

.form__textarea .form__label {
  margin-bottom: 26px;
}

.form__warning {
  margin: 0;
  margin-bottom: 25px;
  color: $grey;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form__button {
  width: 260px;
  font-family: inherit;
}

.form__submit {
  padding: 0 30px 55px 30px;
  width: 320px;
  margin: 0 auto;
}

.form__input input:hover + .fieldset__icon,
.form__input input:focus + .fieldset__icon,
.form__input input:active + .fieldset__icon {
  color: rgba(98, 209, 186, 1);
}

.form__input--phone {
  position: relative;

  svg {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 63%;
    right: 8px;
    transform: translateY(-50%);
  }
}

.form__input--email {
  position: relative;

  svg {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 65%;
    right: 4px;
    transform: translateY(-50%);
  }
}

@media (min-width: $tablet_width) {
  .form__checkbox:nth-last-child(2) {
    margin-bottom: 0;
  }

  .form__text {
    font-size: 17px;
    line-height: 30px;
    padding: 0 50px;
    width: $tablet_width;
    margin-bottom: 10px;
  }

  .form__checkbox .form__label,
  .form__radio .form__label {
    height: 52px;
    padding-left: 82px;

    &::before {
      width: 52px;
    }
  }

  .form__radio input:checked + .form__label::after {
    width: 22px;
    height: 22px;
    top: 26px;
    left: 26px;
  }

  .form__checkbox input:checked + .form__label::after {
    left: 26px;
    top: 26px;
    width: 33px;
    height: 22px;
  }

  .form__textarea {
    display: flex;
    align-items: flex-start;
  }

  .form__textarea textarea {
    width: 501px;
  }

  .form__submit {
    width: $tablet_width;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    padding-top: 0;
  }

  .form__label {
    font-size: 19px;
    font-weight: 700;
    line-height: 18px;
  }

  .form__input input {
    padding: 18px 0 18px 18px;

    &::placeholder {
      opacity: 0.3;
      color: $grey;
      font-size: 19px;
      line-height: 18px;
    }
  }

  .form__input--names {
    margin-bottom: 26px;
  }

  .form__input--contact {
    margin-bottom: 22px;
    width: 100%;
  }

  .form__checkbox {
    width: 48%;
  }

  .form__checkbox:nth-child(2n+1) {
    width: 52%;
  }

  .form__input--phone {
    svg {
      top: 50%;
      right: 26px;
    }
  }

  .form__input--email {
    svg {
      top: 56%;
      right: 22px;
    }
  }

  .form__checkbox,
  .form__radio {
    margin-bottom: 24px;
  }

  .form__label--accessories {
    padding-top: 0;
  }

  .form__input {
    display: flex;

    .form__label {
      margin-right: 25px;
    }
  }

  .form__label.form__label--green {
    width: 174px;
    margin-top: 17px;

    &::after {
      display: none;
    }
  }

  .form__input--contact .form__label--green {
    margin-right: 0;
    width: 167px;
  }

  .form__input--contact input {
    margin-top: 5px;
  }

  .form__warning {
    margin-bottom: 13px;
    color: $grey;
    font-size: 17px;
    line-height: 30px;
    padding-top: 11px;
  }

  .form__textarea textarea::placeholder {
    font-size: 19px;
  }

  .form__textarea .form__label--green {
    width: 168px;
  }

  .form__button {
    width: 230px;
  }
}

@media (min-width: $desktop_width) {
  .form__input--names {
    margin-bottom: 23px;
  }

  .form__label.form__label--green {
    width: 115px;
  }

  .form__textarea textarea {
    width: 700px;
  }

  .form .form__checkbox {
    width: 33.3333%;
  }

  .form__submit {
    width: $desktop_width;
    padding-left: 225px;
    padding-right: 225px;
    padding-bottom: 49px;
  }

  .form__text {
    width: $desktop_width;
    padding-left: 225px;
    padding-right: 225px;
  }

  .form__input--phone {
    svg {
      top: 50%;
      right: 7px;
    }
  }

  .form__input--email {
    svg {
      top: 56%;
      right: 4px;
    }
  }
}
