.form__inner {
  position: relative;

  @include inner();
}

.form__text {
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  padding: 30px;
  width: 320px;
  margin: 0 auto;
}

.fieldset {
  padding: 15px 30px 15px 30px;
  margin: 0 auto;
  width: 320px;
}

.fieldset__legend {
  margin-bottom: 30px;
}

.form__label {
  display: flex;
  align-items: center;
  color: #000000;
  line-height: 18px;
}

.form__label.form__label--green {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #63d1bb;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  width: 100%;

  &::after {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 100%;
    height: 1px;
    margin-left: 20px;
    background-color: #62d1ba;
  }
}

.radio,
.checkbox {
  margin-bottom: 20px;

  input {
    &:focus + label::before {
        border: 2px solid #62d1ba;
    }

    &:disabled + label::before {
        opacity: 0.3;
    }
  }

  .form__label:hover ::before {
      border: 2px solid #62d1ba;
  }
}

.checkbox:last-child {
  margin-bottom: 0;
}

.radio:nth-child(2) {
  margin-bottom: 0;
}

.radio .form__label {
  position: relative;
  padding-left: 62px;
  height: 40px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #444444;
    background-color: #ffffff;
  }
}

.radio input:checked + .form__label::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.checkbox .form__label {
  position: relative;
  padding-left: 62px;
  height: 40px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    border: 2px solid #444444;
    background-color: #ffffff;
  }
}

.checkbox input:checked + .form__label::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 20px;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/icon-tick.svg");
}

.input {
  margin-bottom: 20px;
}

.input:last-child {
  margin-bottom: 0;
}

.input input {
  border: none;
  width: 100%;
  height: 52px;
  box-shadow: inset 0 -2px 0 #000000;
  color: #444444;
  font-size: 19px;
  line-height: 18px;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0 -2px 0 #62d1ba;
  }

  &:hover + svg,
  &:focus + svg {
    fill: #62d1ba;
    opacity: 1;
  }

  &::placeholder {
    opacity: 0.3;
    color: #444444;
    font-size: 17px;
    line-height: 18px;
  }
}

.input--type-2 input {
  background-color: transparent;
}

.textarea {
  margin: 0 auto;
  width: 320px;
}

.textarea textarea {
  width: 260px;
  height: 142px;
  border: 2px solid #444444;
  background-color: #ffffff;
  padding: 15px;
  color: #444444;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  outline: none;

  &:hover,
  &:focus,
  &:active {
    border: 2px solid #62d1ba;
  }

  &::placeholder {
    opacity: 0.3;
  }
}

.textarea .form__label {
  margin-bottom: 23px;
}

.warning {
  margin: 0;
  margin-bottom: 30px;
  height: 14px;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form__button {
  width: 260px;
}

.form__submit {
  padding: 0 30px 55px 30px;
  width: 320px;
  margin: 0 auto;
}

.input--phone {
  position: relative;

  svg {
    position: absolute;
    width: 25px;
    height: 24px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    fill: #000000;
    opacity: 0.2;
  }
}

.input--email {
  position: relative;

  svg {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    fill: #000000;
    opacity: 0.2;
  }
}

@media (min-width: $tablet_width) {
  .intro--catalog {
    margin-bottom: 80px;
  }

  .checkbox:nth-last-child(2) {
    margin-bottom: 0;
  }

  .form__text {
    font-size: 17px;
    line-height: 30px;
    padding: 0 50px;
    width: $tablet_width;
    margin-bottom: 10px;
  }

  .fieldset {
    display: flex;
    align-items: flex-start;
    width: $tablet_width;
    padding: 50px;
  }

  .fieldset-wrapper {
    background-color: #f1f1f1;
  }

  .textarea textarea {
    width: 501px;
  }

  .form__submit {
    width: $tablet_width;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-top: 0;
  }

  .fieldset__controls--flex {
    display: flex;
    flex-wrap: wrap;
  }

  .fieldset__controls.fieldset__controls--fullwidth {
    width: 815px;

    input {
      width: 700px;
    }
  }

  .fieldset__controls {
    width: 518px;

    .checkbox {
      width: 50%;
    }
  }

  .input {
    display: flex;

    .form__label {
      margin-right: 25px;
    }

    input {
      padding: 18px 0 18px 18px;
    }
  }

  .form__label.form__label--green {
    width: 160px;
    margin-top: 17px;

    &::after {
      display: none;
    }
  }

  .input--type-2 {
    width: 100%;
  }

  .input--type-2 .form__label--green {
    margin-right: 0;
  }

  .warning {
    margin-bottom: 20px;
    color: #444444;
    font-size: 17px;
    line-height: 30px;
  }

  .no-bottom-padding {
    padding-bottom: 0;
  }

  .no-top-padding {
    padding-top: 0;
  }
}

@media (min-width: $desktop_width) {
  .intro--catalog {
    margin-bottom: 130px;
  }

  .fieldset__controls {
    width: 700px;

    .checkbox {
      width: 33.333333%;
    }
  }

  .form__label.form__label--green {
    width: 115px;
  }

  .textarea textarea {
    width: 700px;
  }

  .fieldset {
    width: $desktop_width;
    padding-left: 110px;
  }

  .form__submit {
    width: $desktop_width;
    padding-left: 225px;
    padding-right: 225px;
  }

  .form__text {
    width: $desktop_width;
    padding-left: 225px;
    padding-right: 225px;
  }
}
