.info-nav__list {
  @include list_reset();
}

.info-nav__item {
  display: flex;
  justify-content: start;
  padding-top: 32px;
  padding-left: 36px;
  height: 88px;
  border-bottom: 1px solid #ececec;
}


.info-nav__link {
  padding-left: 46px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.info-nav__link:hover,
.info-nav__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.info-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.info-nav__link:hover svg,
.info-nav__link:focus svg {
  fill: #63d1bb;
  opacity: 1;
}

.info-nav__link:active svg {
  fill: #63d1bb;
  opacity: 0.3;
}

.info-nav__link--search {
  position: relative;

  svg {
    position: absolute;
    left: 0;
    top: 4px;
    opacity: 0.2;
  }
}

.info-nav__link--basket {
  position: relative;

  svg {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
  }
}

@media (min-width: $tablet_width) {
  .info-nav {
    width: 52%;
  }

  .info-nav__list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .info-nav__item {
    padding-left: 0;
    padding-top: 32px;
    border-bottom: none;
  }

  .info-nav__item.info-nav__item--search {
    padding: 0;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    order: 1;
  }

  .info-nav__link--search {
    padding: 0 41px;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      opacity: 0.2;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .info-nav__item.info-nav__item--basket {
    padding-right: 50px;
    padding-left: 32px;
  }

  .info-nav__link--search span {
    display: none;
  }
}

@media (min-width: $desktop_width) {
  .info-nav {
    width: auto;
  }

  .info-nav__item.info-nav__item--basket {
    padding-left: 31px;
    padding-right: 0;
    justify-content: flex-end;
  }
}
