.intro {
  background-color: #f1f1f1;
}

.intro__inner {
  @include inner();
  padding: 69px 0 0 0;
}

.intro__title {
  text-align: center;
  margin-bottom: 122px;
  padding: 0 20px;
  font-size: $mobile-fs-big;
  line-height: $mobile-lh-big;
}

.intro__title.intro__title--catalog {
  margin: 0;
  padding-bottom: 75px;
}

.intro__title.intro__title--order {
  margin-bottom: -1px;
  padding-bottom: 76px;
}

.intro__label {
  display: none;
}

.intro--index {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.menu__list {
  @include list_reset();
}

.menu__link {
  position: relative;
  padding: 26px 73px 30px 29px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;

  &--decor {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.menu__link:hover,
.menu__link:focus {
  position: relative;
  top: -5px;
  height: calc(100% + 5px);
}

.menu__link:hover svg,
.menu__link:focus svg {
  opacity: 0.7;
}

.menu__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.menu__link:active svg {
  opacity: 0.3;
}

.menu__link svg {
  position: absolute;
  top: 30px;
  right: 36px;
  fill: #149080;
  opacity: 0.5;
}

@media (min-width: $tablet_width) {
  .intro {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 24px;
      bottom: -12px;
      left: 0;
      background-size: contain;
      background-image: url("../img/icons/bg-zigzag-fill.svg");
    }
  }

  .intro--index {
    background-image: url("../img/hero-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .intro--catalog {
    margin-bottom: 73px;
  }

  .intro__inner {
    padding: 17px 50px 0 50px;
    border-top: 1px solid #ececec;
  }

  .intro__title.intro__title--catalog {
    margin-top: 54px;
    padding-bottom: 78px;
  }

  .intro__title.intro__title--order {
    margin-top: 53px;
    margin-bottom: 73px;
    padding-bottom: 80px;
  }

  .intro__title {
    position: relative;
    margin-top: 112px;
    margin-bottom: 374px;
    letter-spacing: 0;
    font-size: $tablet-fs-big;
    line-height: $tablet-lh-big;
  }

  .intro__label {
    display: block;
    text-align: right;
    top: 18px;
    right: 51px;
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }

  .menu__item {
    width: 50%;
  }

  .menu__list {
    display: flex;
  }

  .menu__link {
    font-size: 20px;
    line-height: 30px;
    padding: 26px 73px 30px 36px;
  }
}

@media (min-width: $desktop_width) {
  .intro {
    &::after {
      height: 34px;
      bottom: -19px;
    }
  }

  .intro--index {
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .intro--catalog {
    margin-bottom: 130px;
  }

  .intro__title.intro__title--catalog {
    padding-bottom: 100px;
    margin-top: 52px;
  }

  .intro__title.intro__title--order {
    padding-bottom: 100px;
    margin-top: 53px;
    margin-bottom: 123px;
  }

  .menu__item {
    width: 525px;
  }

  .intro__header {
    display: flex;
    justify-content: space-between;
  }

  .intro__title {
    margin-bottom: 359px;
    margin-top: 113px;
    padding: 0 120px;
    font-size: $desktop-fs-big;
    line-height: $desktop-lh-big;
  }

  .intro__menu {
    &::after {
      width: 1150px;
      height: 16px;
      top: 102px;
      left: -40px;
      background-size: 109%;
      background-image: url("../img/icons/bg-zigzag-fill.svg");
    }
  }
}
