.logo__link:focus,
.logo__link:hover {
  opacity: 0.6;
}

.logo__link:active {
  opacity: 0.3;
}

.logo {
  text-align: center;
}

@media (min-width: $tablet_width) {
  .logo {
    text-align: left;
    padding-top: 22px;
    padding-left: 50px;
  }
}

@media (min-width: $desktop_width) {
  .logo {
    width: auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 101px;
  }
}
