.product__name {
  margin: 0;
}

.product__header {
  margin-bottom: 23px;
}

.product__description {
  margin-bottom: 13px;
  font-size: 15px;
  font-weight: 400;
  color: $grey;
}

.product__properties {
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: $grey;
  margin-bottom: 26px;

  tr {
    box-shadow: 0 1px 0 #ececec;
    height: 40px;
  }
}

.product__content {
  position: relative;
}

.product__buy {
  margin-top: 368px;
}

.product__image {
  position: absolute;
  bottom: 127px;

  img {
    display: block;
  }
}

.product__price {
  color: $grey;
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}

.product__inner {
  padding: 24px 30px 41px 30px;

  @include inner();
  @include wave();

  @media (min-width: $tablet_width) {
    padding: 47px 50px 43px 48px;
  }
}

@media (min-width: $tablet_width) {
  .product__header {
    display: flex;
    justify-content: space-between;
    padding-right: 28px;
    margin-bottom: 49px;
  }

  .product__inner {
    &::after {
      bottom: -27px;
    }
  }

  .product__content {
    display: flex;
  }

  .product__buy {
    margin-top: 0;
    width: 292px;
  }

  .product__info {
    margin-right: 370px;
  }

  .product__name {
    margin-right: 10px;
  }

  .product__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
  }

  .product__description {
    font-size: 17px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 31px;
  }

  .product__properties {
    margin-bottom: 53px;
  }

  .product__image {
    margin-bottom: 0;
    margin-top: 8px;
    bottom: 0;
    right: 0;
  }

  .product__image img {
    width: 333px;
    height: 404px;
  }
}

@media (min-width: $desktop_width) {
  .product__header {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 35px;
  }

  .product__info {
    width: 482px;
    padding-left: 164px;
    padding-right: 26px;
    margin-right: 32px;
  }

  .product__inner {
    padding: 124px 50px 42px 61px;

    &::after {
      bottom: -50px;
    }
  }

  .product__description {
    margin-bottom: 44px;
  }

  .product__properties {
    margin-bottom: 107px;
  }

  .product__image {
    z-index: -1;

    img {
      width: 525px;
      height: 636px;
    }
  }
}
