.promo__label {
  color: #63d1bb;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 5px;
}

@media (min-width: $tablet_width) {
  .promo .promo__label {
    width: 70px;
    margin-top: 9px;
    text-align: center;
  }
}

@media (min-width: $desktop_width) {
  .promo .promo__label {
    margin-right: 50px;
    margin-top: 13px;
  }
}
