.reviews__inner {
  position: relative;

  @include wave();
  @include inner();

  padding: 0 30px 51px 30px;
}

.reviews__header {
  margin-bottom: 25px;
}

.reviews__item {
  margin-bottom: 32px;
}

.reviews__controls {
  height: 52px;
  margin-bottom: 90px;
  display: flex;
}

.reviews__write-link {
  position: absolute;
  width: 260px;
  bottom: 51px;
}

@media (min-width: $tablet_width) {
  .reviews {
    margin-bottom: 71px;
  }

  .reviews__inner {
    padding: 79px 50px 47px 48px;
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: $tablet_width;

    &::after {
      bottom: -87px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .reviews__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .reviews__item {
    margin-bottom: 0;
  }

  .reviews__write-link {
    position: inherit;
    align-self: flex-start;
    width: 175px;
  }

  .reviews__controls {
    position: absolute;
    bottom: 49px;
    right: 51px;
    width: 172px;
    border: none;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop_width) {
  .reviews__inner {
    width: $desktop_width;
    padding: 70px 50px 97px 221px;
    background-position: 50px 0;
  }

  .reviews__write-link {
    margin-top: 10px;
  }
}
