.video {
  margin-bottom: 60px;
}

.video__inner {
  @include inner();
  padding: 0 30px;

  &:hover,
  &:focus {
    .video__info {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    }
  }

  &:active {
    .video__info {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.video__title {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  margin-bottom: 201px;
  padding-left: 54px;

  svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    fill: #63d1bb;
  }
}

.video__text {
  color: $grey;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}

.video__info {
  padding: 24px 34px 30px;
  border: 1px solid #ececec;
}

.video__play {
  position: absolute;
  bottom: 256px;
}

.video__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 101px;
  height: 77px;
  background-image: url("../img/icons/icon-play.svg");
  background-color: transparent;
  border: none;
  outline: none;

  &:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.2);
  }

  &:active {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    opacity: 0.3;
  }
}

.video__image {
  display: block;
}

.video__description {
  width: 192px;
}

@media (min-width: $tablet_width) {
  .video__inner {
    width: $tablet_width;
    padding: 0 50px;
    display: flex;
    flex-direction: column-reverse;
  }

  .video__title {
    margin-bottom: 32px;
    font-size: 20px;
    padding-left: 64px;
  }

  .video__info {
    padding: 37px 42px 46px 42px;
  }

  .video__description {
    position: inherit;
    width: auto;
  }

  .video__play {
    position: inherit;
    margin-bottom: 0;
    top: 0;
  }

  .video__text {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .video__image {
    width: 668px;
    height: 455px;
  }
}

@media (min-width: $desktop_width) {
  .video {
    margin-bottom: 103px;
  }

  .video__inner {
    width: $desktop_width;
    flex-direction: row-reverse;
  }

  .video__info {
    padding: 95px 57px 60px 79px;
  }

  .video__image {
    width: 682px;
  }

  .video__title {
    padding-left: 0;
    padding-right: 30px;
    margin-bottom: 33px;
  }

  .video__text {
    margin-bottom: 46px;
  }

  .video__title svg {
    top: -38px;
  }
}
