.about {
  padding: 34px 30px 30px 30px;
}

.about__header {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.about__benefits {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__benefit {
  line-height: 20px;
  margin-bottom: 30px;
}
