body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

/* img {
  max-width: 100%;
  height: auto;
} */

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.block-title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

@media (min-width: $tablet_width) and (max-width: $desktop_width) {
  body {
    padding-top: 88px;
  }
}

@media (min-width: $tablet_width) {
  .block-title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop_width) {
  .block-title {
    font-size: 53px;
    line-height: 57px;
  }
}
