.button--black-border {
  text-align: center;
  display: block;
  padding: 15px 0;
  border: 2px solid #444444;
  background-color: #ffffff;
  color: #444444;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}

.video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 0.1s;
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg");
  background-color: transparent;
  border: none;
  outline: none;
  &:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.2);
  }
  &:active {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    opacity: 0.3;
  }
}

.button--black-border:hover,
.button--black-border:focus {
  background-color: #444444;
  color: #ffffff;
}

.button--black-border:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--green {
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  width: 260px;
  height: 52px;
  background-color: #63d1bb;
  border: none;
}
