.catalog {
  padding: 30px 30px 0 30px;
}

.catalog__item {
  border: 1px solid #ececec;
  margin-bottom: 30px;
}

.catalog__item-description {
  padding: 0 29px;
}

.catalog__item-name {
  font-size: 17px;
  line-height: 24px;
  margin: 0;
}

.catalog__item-properties {
  color: #444444;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  border-bottom: 1px solid #ececec;
}

.catalog__item-price {
  font-size: 15px;
}

.catalog__item-buy-block {
  display: flex;
}
