.footer {
  padding: 25px 30px 25px 30px;
  background-color: #f1f1f1;
}

.footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo {
    display: block;
  }

  .footer__social.social {
    border: none;
    width: 142px;
  }
}
