.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__link {
  padding: 30px 120px 30px 29px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;

  &--decor {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}
