.reviews__inner {
  position: relative;
  @include inner();
  padding: 0 30px 45px 30px;
}

.reviews__header {
  margin-bottom: 30px;
}

.review__text {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 40px;
}

.review__author-name {
  margin: 0;
}

.review__author-mail {
  margin: 0;
}

.reviews__item {
  margin-bottom: 36px;
}

.reviews__controls {
  height: 52px;
  margin-bottom: 90px;
  display: flex;
}

.controls__item {
  height: 100%;
  width: 50%;
  border: 1px solid #ececec;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50%;
  background-image: url("../img/icon-left-arrow.svg");
}

.controls__item--arrow-right {
  transform: rotate(180deg);
  border-right: none;
}

.reviews__write-link {
  position: absolute;
  width: 260px;
  bottom: 45px;
}

@media (min-width: $tablet_width) {
  .reviews__inner {
    padding: 80px 50px 68px 50px;
    position: relative;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    width: $tablet_width;
  }

  .reviews__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  .reviews__item {
    margin-bottom: 53px;
  }

  .reviews__write-link {
    position: inherit;
    width: 175px;
    height: 52px;
  }

  .reviews__controls {
    position: absolute;
    bottom: 121px;
    right: 50px;
    width: 172px;
    border: none;
    margin-bottom: 0;
  }

  .controls__item {
    border: none;
  }

  .review__text {
    font-size: 17px;
    margin-bottom: 60px;
  }

}

@media (min-width: $desktop_width) {
  .reviews__inner {
    width: $desktop_width;
    padding: 80px 50px 68px 224px;
    background-position: 50px 0;
  }

  .reviews__item {
    margin-bottom: 97px;
  }

  .review__text {
    margin-bottom: 40px;
  }
}
