.title-menu {
  background-color: #f1f1f1;
}

.title-menu__inner {
  @include inner();
  padding: 70px 0 0 0;
  @media (min-width: $tablet_width) {
    padding: 20px 63px 0 50px;
  }
}

.title-menu__title {
  margin: 0;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 122px;
  padding: 0 30px;
}

.title-menu__title.title-menu__title--catalog {
  margin-bottom: 40px;
}

.title-menu__label {
  display: none;
}

.title-menu--index {
  background-image: url("../img/hero-desktop@1x.jpg");
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu__list {
  @include list_reset();
}

.menu__link {
  position: relative;
  padding: 26px 73px 30px 29px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;

  &--decor {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.menu__link:hover,
.menu__link:focus {
 position: relative;
 top: -5px;
 height: calc(100% + 5px);
}

.menu__link:hover svg,
.menu__link:focus svg {
  opacity: 0.7;
}

.menu__link:active {
  color: rgba(255,255,255,0.3);
}

.menu__link:active svg {
  opacity: 0.3;
}

.menu__link svg {
  position: absolute;
  top: 30px;
  right: 36px;
  fill: #149080;
  opacity: 0.5;
}

@media (min-width: $tablet_width) {
  .title-menu {
    position: relative;
  }
  .title-menu__title {
    position: relative;
  }

  .title-menu__label {
    display: block;
    position: absolute;
    top: 17px;
    right: 56px;
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }

  .title-menu__title {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
    margin-top: 133px;
    margin-bottom: 374px;
  }

  .menu__item {
    width: 50%;
  }

  .menu__list {
    display: flex;
  }

  .menu__link {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: $desktop_width) {
  .menu__item {
    width: 525px;
  }

  .menu__link {
    padding: 30px 310px 30px 29px;
  }

  .title-menu__title {
    margin-bottom: 421px;
  }
}
