$tablet_width: 768px;
$desktop_width: 1150px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$desktop-fs-big: 53px;
$desktop-lh-big: 57px;
$tablet-fs-big: 43px;
$tablet-lh-big: 50px;
$mobile-fs-big: 27px;
$mobile-lh-big: 30px;
$grey: #444444;
